<div class="container">
  <header> <h1>INTERACT</h1> </header>
  <div class="content">
    <main>
      <h2>NXeqCXSdpkj</h2>
      <section class="command">
        <div class="choose-command">
          <h3>Command: </h3>
          <label for="isCustom">
            <input type="checkbox" name="isCustom" id="isCustom" (change)="toggleCustom()">
            {{ 'Custom Command?' | uppercase }}
          </label>
        </div>
        <div class="form-command">
          @if (isCustom) {
            <input type="text" placeholder="">
          } @else {
            <select>
              <option value="1">Screenshot</option>
              <option value="2">Get IpAddress</option>
            </select>
          }
        </div>
        <button class="btn-send">Send</button>
      </section>
      <section class="result">
        <h3>Output: </h3>
        <div></div>
      </section>
    </main>
    <aside>
      <h2>Session Details</h2>
      <section class="details">
        <span><strong>Username:</strong> Enderson</span>
        <span><strong>Hostname:</strong> endersonPC</span>
        <span><strong>Ip Address:</strong> 192.168.0.0</span>
        <span><strong>Process Id:</strong> 45201</span>
        <span><strong>Is Admin:</strong> Yes</span>
      </section>
      <section class="latest-screenshot">
        <h3>Latest Screenshot</h3>
        <div>
          <mat-icon>camera</mat-icon>
        </div>
      </section>
    </aside>
  </div>
</div>
