.container {
  .content {
    display: flex;
    width: 100%;
    gap: 25px;
    flex-wrap: wrap;

    main, aside {
      border-radius: 8px;
      padding: 20px;

      h2 {
        color: var(--cyan-100)
      }

    }

    main {
      width: calc(60% - 25px);
      background-color: var(--gray-100);
      h3 {
        color: var(--white);
        font-size: 1rem;
        font-weight: 500;
      }

      .command {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        .choose-command {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          label {
            cursor: pointer;
            color: var(--cyan-100);
            font-weight: 600;
          }
        }

        .form-command {
          input[type="text"] {
            font-size: 1.2rem;
            color: var(--white);
            width: 100%;
            background-color: transparent;
            border: 2px solid var(--terciary-color);
            padding: 10px;
            margin-top: 5px;
            border-radius: 6px;
            font-family: 'Roboto', serif;
            outline: none;
          }

          select {
            outline: none;
            color: var(--white);
            cursor: pointer;
            font-family: 'Roboto', serif;
            font-size: 1.1rem;
            width: 100%;
            background-color: var(--terciary-color);
            border: none;
            padding: 10px;
            margin-top: 5px;
          }

        }

        .btn-send {
          margin-top: 10px;
          align-self: end;
          text-transform: uppercase;
          font-weight: 600;
          border-radius: 25px;
          border: none;
          padding: 5px 18px;
          font-size: 1rem;
          color: var(--primary-color);
          background-color: var(--cyan-100);
        }
      }

      .result {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        div{
          background-color: var(--terciary-color);
          height: 315px;
          border-radius: 6px;
        }
      }

    }

    aside {
      background-color: var(--gray-100);
      width: calc(40% - 25px);
      display: flex;
      flex-direction: column;
      gap: 20px;

      .details{
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: var(--cyan-200)
      }

      .latest-screenshot {
        h3 {
          font-weight: 400;
          color: var(--white);
        }
        div {
          margin-top: 8px;
          background-color: var(--terciary-color);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          border-radius: 5px;
          height: 200px;

          mat-icon {
            color: var(--gray-100);
            width: 50px;
            height: 50px;
            font-size: 50px;
          }

        }
      }

    }
  }
}
