main{
    // Estilos globais
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    background-color: #083D3D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  // Container principal
  .container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;

    .logo {
      img {
        width: 100px;
        margin-bottom: 20px;
      }
    }

    .login-form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .input-group {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #3F4948;
        border-radius: 8px;
        padding: 10px;

        input::placeholder {
            color: #00FBFB; // Cor inicial do placeholder
            opacity: 1;
          }

          input:focus::placeholder {
            color: #457b9d; // Cor quando o campo está em foco
          }


        .icon {
          margin-right: 10px;
          color: #00FBFB;
          font-size: 18px;
        }

        input {
          background: none;
          border: none;
          outline: none;
          color: white;
          font-size: 16px;
          flex-grow: 1;
          font-family: 'Roboto', sans-serif;
        }

        .toggle-password {
          cursor: pointer;
          font-size: 18px;
        }
      }

      .login-button {
        background-color: #00FBFB;
        border: none;
        color: #083D3D;
        padding: 12px;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
    }
  }
}

