.container {
  width: 100%;
  color: white;

  .content {
    width: 100%;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

  }
}


