.sidenav {
  background: var(--primary-color);
  transition: all 0.5s ease;
  top: 0;
  width: 16.5625rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}
.sidenav-collapsed {
  width: 6rem;
}

.header-container{
  background: var(--primary-color);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 1.3rem;
  height: 90px;
  display: flex;
  justify-content: end;
  align-items: center;

  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
  }

}

.sidenav .logo-container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  height: 90px;
  width: 100%;
}
.sidenav .logo-container .logo {
  background-color: transparent;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 100%;

  img {
    width: 44px;
  }

}

.sidenav .logo-container .btn-close {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  border: none;

  img {
    width: 160px;
  }

}
.sidenav .logo-container .btn-close .fa-times {
  color: #fff;
  font-size: 24px;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 2rem 0 ;
  display: flex;
  cursor: pointer;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}
.sidenav-nav .sidenav-nav-item {
  width: 100%;
}
.sidenav-nav .sidenav-nav-item .sidenav-nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #f3f3f3;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all 0.3s ease;
}
.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
  text-align: center;

  &.icon-center{
    margin: 0 auto !important;
  }

}

.sidenav-nav .sidenav-nav-item:hover .sidenav-nav-link {
  background-color: var(--secondary-color);
  color: white;
}

.active {
  background-color: var(--secondary-color);
  color: white;
}
