/* You can add global styles to this file, and also import other style files */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  --primary-color: #004F4F;
  --secondary-color: #083D3D;
  --terciary-color: #3F4948;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; }
input {
  font-family: 'Roboto', sans-serif;
}
